@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Meddon|Sedgwick+Ave');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Ruthie');

.calig {
  font-family: 'Calligraffitti', cursive;
}
.satisfy {
  font-family: 'Satisfy', cursive;
}
button:focus {
    outline: 0;
}
.container-fluid {
    margin-bottom: 50px;
}
.modal {
    background-color: rgba(#ebebeb, .4);
    display: block !important;
    position: absolute !important;
    overflow-y: auto !important;
    .modal-content {
        float: none;
        border: 0;
        display: inline-block;
        vertical-align: middle;
        border-radius: 4px;
        .modal-header, .modal-footer {
            border: 0;
            text-align: center !important;
        }
        .modal-footer button {
            width: 100%;
        }
        .close, .close:hover {
            position: absolute;
            left: 1em;
            opacity: 1;
            svg {
                transform: rotate(180deg);
                height: 25px;
                .st0 {
                    fill: grey;
                }
            }
        }
    }
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }
}
