<div class="root row">
    <div class="col-xs-12 text-center heading">
      We're Getting Married!
    </div>
    <div class="col-xs-12 text-center info">
      <div class="pull-left">

        <h4>Tilton, NH</h4>
        <h4>Friday | 8 | 24 | 2018</h4>
        <h4>&nbsp;</h4>
        <h4 class="countdown hidden-xs">{{rootCtrl.countdown}} to go!</h4>
      </div>
      <div class="row navbar-fixed-bottom hidden-sm hidden-md hidden-lg">
          <div class="col-xs-6 col-xs-offset-3 text-center">
              <h4 class="countdown">{{rootCtrl.countdown}} to go!</h4>
          </div>
      </div>
    </div>
</div>
