<div class="row contact">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12" style="background-color: white;">
                <h1 class="text-center satisfy">Contact Us</h1>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <strong><p class="text-left satisfy">Need more information?</p></strong>
                        <p class="text-left satisfy">Please fill out the form and Will or Jenna will be in touch!!</p>
                    </div>
                    <form name="contactForm" class="col-sm-6 col-xs-12" ng-submit="contactCtrl.submitForm(contactForm.$valid)" novalidate>
                            <md-input-container class="md-block">
                                <label for="name">Name</label>
                                <input type="text" name="name"
                                ng-model="contactCtrl.contactForm.name"
                                required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="email">Email</label>
                                <input type="text" name="email"
                                ng-model="contactCtrl.contactForm.email"
                                ng-required="!contactForm.phone">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="phone">Phone #</label>
                                <input type="text" name="phone"
                                ng-model="contactCtrl.contactForm.phone"
                                ng-required="!contactForm.email">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="phone">Message</label>
                                <textarea name="message"
                                rows="2"
                                ng-model="contactCtrl.contactForm.message"></textarea>
                            </md-input-container>
                            <button type="submit" class="btn" ng-class="contactForm.$valid ? 'btn-success': 'btn-danger'">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 contact-background" style="height: 100vh;">
            </div>
        </div>
    </div>
</div>
