.registry-photo {
    height: 100vh;
    background: image-url("registry.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
