<div class="registry row">
    <div class="col-xs-12" style="background: white; padding-top: 1em; margin-top: -1em;">
        <div class="row">
            <div class="col-xs-12 text-center calig">
              <h1>Registry</h1>
            </div>
            <div class="col-xs-12" style="font-size: 1.5em;">
              <strong><p class="calig">Jenna and Will are registered at: </p></strong>
              <ul>
                <li><strong><span>MyRegistry.com:</span></strong>  <a href="https://www.myregistry.com/public/willandjenna">https://www.myregistry.com/public/willandjenna</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
              </ul>
            </div>
        </div>
    </div>
</div>
<div class="row registry-photo">
    <!-- <img src="assets/registry.JPG" width="100%" alt=""> -->
</div>
<ui-view></ui-view>
