<div class="row">
  <nav class="col-xs-12 navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- <div class="navbar-header">
        <a ui-sref="root">
          Home
        </a>
      </div> -->
      <div class="navbar-header hidden-sm hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a class='navbar-link' ui-sref="root">Home</a></li>
          <li><a class='navbar-link' ui-sref-active="active" ui-sref="wedding">Our Wedding</a></li>
          <li><a class='navbar-link' ui-sref-active="active" ui-sref="party">Meet the Wedding Party</a></li>
          <!-- <li><a class='navbar-link' ui-sref-active="active"  ui-sref="story">Our Story</a></li> -->
          <li><a class='navbar-link' ui-sref-active="active"  ui-sref="registry">Registry</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class='navbar-link' ui-sref-active="active" ui-sref="faq">FAQs</a></li>
          <li><a class='navbar-link' ui-sref-active="active" ui-sref="contact">Contact Us</a></li>
          <!-- <div class="navbar-link" ng-if="headerCtrl.currentUser.id">
            <button type="button" class="btn btn-primary" ng-click="headerCtrl.logout()">Sign Out</button>
          </div>
          <div class="navbar-link" ng-if="!headerCtrl.currentUser.id">
            <button type="button" class="btn btn-primary" ui-sref="login">Sign In</button>
          </div> -->
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
</div>
