header-component {
    z-index: 1;
}
.navbar {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-family: 'Calligraffitti', cursive;
  font-size: 18px;
  font-weight: bold;
  .nav.navbar-nav.navbar-right {
    font-size: 16px;
  }
  .nav>li>a.active, .nav>li>a.active:focus{
    background-color: #ccc;
  }
}
