<div class="col-xs-12 text-center">
  <h1>Our Wedding</h1>
</div>
<div class="col-xs-10 col-xs-offset-1 text-center">
  La Piece - The Room | Tilton, NH | Friday, August 24, 2018
</div>
<div class="col-xs-6">
  <img src="" alt="">
</div>
<div class="col-xs-6">
  <img src="" alt="">
</div>

<div class="col-xs-10 col-xs-offset-1">
  <div class="row">
    <div class="col-xs-12 text-center">
      <p>4:30pm - Guests Arrive at Venue, La Piece</p>
      <p>5:00pm - Ceremony</p>
      <p>5:30pm - Cocktail Hour</p>
      <p>6:30pm - Reception</p>
      <p>10:00pm - Bonvoyage (ask bride & groom about the after party)</p>
    </div>
  </div>
</div>
