.root  {
  background-image: url(root.JPG);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #CCC;
  height: auto;
  min-height: 100vh;
  .heading {
    padding-top: 25%;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 100px;
    font-family: 'Ruthie', cursive;
  }
  .info {
      text-shadow: 2px 2px black;
      color: white;
    h4 {
      font-family: 'Sedgwick Ave', cursive;
      font-size: 36px;
      &.countdown {
        font-weight: bold;
      }
    }
  }
}
header-component {
    z-index: 1;
}
.navbar {
  margin-bottom: 0;
  font-family: 'Calligraffitti', cursive;
  font-size: 18px;
  font-weight: bold;
  .nav.navbar-nav.navbar-right {
    font-size: 16px;
  }
  .nav>li>a.active, .nav>li>a.active:focus{
    background-color: #ccc;
  }
}

.registry-photo {
    height: 100vh;
    background: url(registry.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
