.party-group-photo {
  max-height: 400px;
  display: block;
  margin: auto;
}
.party-ind-photo {
  max-height: 300px;
  max-width: 275px;
  display: block;
  margin: auto;
}
.party-wrapper {
  background-image: url(party.JPG);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.party {
  background-color: white;
}
